{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unified download test</h1>

    <p>This page is to test different unified download methods.</p>

    <p>Each page listed below will have testing instructions included on page.</p>

    <ul>
        <li>
            <a href="{{ path('download_method.one') }}">Method 1</a>
        </li>
    </ul>
{% endblock %}
