{% extends 'base.html.twig' %}

{% block body_class %}iframe-method{% endblock %}

{% block body %}
    <h1>Unified download test</h1>

    <p>iFrame method</p>

    <h3>Your download will begin shortly.</h3>
{% endblock %}
